@page "/menuitems"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using GestorCheff.Models
@using GestorCheff.Data
@implements IAsyncDisposable
@inject IDbContextFactory<GestorCheff.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="menuitems/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.MenuItem">
    <PropertyColumn Property="menuitem => menuitem.Name" />
    <PropertyColumn Property="menuitem => menuitem.Description" />
    <PropertyColumn Property="menuitem => menuitem.Price" />
    <PropertyColumn Property="menuitem => menuitem.Category" />
    <PropertyColumn Property="menuitem => menuitem.IsAvailable" />
    <PropertyColumn Property="menuitem => menuitem.ItemType" />

    <TemplateColumn Context="menuitem">
        <a href="@($"menuitems/edit?iditem={menuitem.IdItem}")">Edit</a> |
        <a href="@($"menuitems/details?iditem={menuitem.IdItem}")">Details</a> |
        <a href="@($"menuitems/delete?iditem={menuitem.IdItem}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
